<div class="columns">
  <div class="column">
    <p class="title is-2">Ex. Pipes (01/07)</p>
    <p class="subtitle is-4">Geovane Baldan - SC3002381</p>
  </div>
</div>

<div class="columns">
  <div class="column is-1"></div>
  <div class="column is-3">
    <input class="input is-small" [(ngModel)]="carPlate" type="text" placeholder="Insert a plate number">
  </div>
  <div class="column is-3">
    <p>{{ carPlate | carPlateView }}</p>
  </div>
  <div class="column"></div>
</div>

<div class="columns">
  <div class="column is-1"></div>
  <div class="column is-3">
    <input class="input is-small" [(ngModel)]="phoneBR" type="text" placeholder="Insert a phone number (BR)">
  </div>
  <div class="column is-3">
    <p>{{ phoneBR | phoneView: 'BR' }}</p>
  </div>
  <div class="column"></div>
</div>

<div class="columns">
  <div class="column is-1"></div>
  <div class="column is-3">
    <input class="input is-small" [(ngModel)]="phoneUS" type="text" placeholder="Insert a phone number (US)">
  </div>
  <div class="column is-3">
    <p>{{ phoneUS | phoneView: 'US' }}</p>
  </div>
  <div class="column"></div>
</div>

<div class="columns">
  <div class="column is-1"></div>
  <div class="column is-3">
    <input class="input is-small" [(ngModel)]="nameAbnt" type="text" placeholder="Insert a name">
  </div>
  <div class="column is-3">
    <p>{{ nameAbnt | nameAbntView }}</p>
  </div>
  <div class="column"></div>
</div>

<div class="columns">
  <div class="column is-1"></div>
  <div class="column is-3">
    <input class="input is-small" [(ngModel)]="nameListAbnt" type="text" placeholder="Insert a name list">
  </div>
  <div class="column is-3">
    <p>{{ nameListAbnt | nameListAbntView }}</p>
  </div>
  <div class="column"></div>
</div>